<!DOCTYPE html>
<html xmlns:th = "http://thymeLeaf.org">
<head
        th:include="Fragments/fragment :: headerfragment">
</head>
<object th:include="Fragments/fragment :: css" th:remove="tag"></object>
<object th:include="Fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="Fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div class=col-md-12>
            <div class="card">
                <div class="card-header text-white bg-secondary" th:text="'Data Ruangan'"></div>
                <div class="card-body">
                    <!--                <td> <a th:href="@{/}"> Back Home </a> </td>-->
                    <div class="row">
                        <div class="col-md-2">
                            <p>Nama</p>
                        </div>
                        <div class="col-md-8">
                            <p th:text="${ruangan.nama}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Kapasitas</p>
                        </div>
                        <div class="col-md-8">
                            <p th:text="${ruangan.kapasitas}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Fasilitas</p>
                        </div>
                        <div class="col-md-8">
<!--                            <div th:if = "${counter == 1}">-->
<!--                                <div th:each="fasilitas, iterationStatus:${ruanganFasilitas}">-->
<!--                                    <p th:text="${fasilitas.fasilitasModel.nama} + ' : ' +${fasilitas.fasilitasModel.jumlah * fasilitas.jumlah_fasilitas }"></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div th:if = "${counter >= 2}">-->
<!--                                <div th:each="fasilitas, iterationStatus:${ruanganFasilitas}">-->
<!--                                    <p th:text="${fasilitas.fasilitasModel.nama} + ' : ' +${fasilitas.fasilitasModel.jumlah * fasilitas.jumlah_fasilitas * counter}"></p>-->
<!--                                </div>-->
<!--                            </div>-->

                                <div th:each="fasilitas, iterationStatus:${ruanganFasilitas}">
                                    <p th:text="${fasilitas.fasilitasModel.nama} + ' : ' +${fasilitas.fasilitasModel.jumlah}"></p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>