<!DOCTYPE html>
<html xmlns:th = "http://thymeLeaf.org">
<head
        th:include="Fragments/fragment :: headerfragment">
</head>
<object th:include="Fragments/fragment :: css" th:remove="tag"></object>
<object th:include="Fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="Fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div class=col-md-12>
            <div class="card">
                <div class="card-header text-white bg-secondary" th:text="'Data Ruangan'"></div>
                <div class="card-body">
                    <!--                <td> <a th:href="@{/}"> Back Home </a> </td>-->
                    <div class="row">
                        <div class="col-md-2">
                            <p>Nama</p>
                        </div>
                        <div class="col-md-8">
                            <p th:text="${peminjamanruangan.ruanganModel.nama}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Kapasitas</p>
                        </div>
                        <div class="col-md-8">
                            <p th:text="${peminjamanruangan.ruanganModel.kapasitas}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Waktu Mulai dan Waktu Selesai</p>
                        </div>
                        <div class="col-md-8">
                            <p th:text="${peminjamanruangan.waktu_mulai} +' - '+${peminjamanruangan.waktu_selesai} "></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Waktu Mulai dan Waktu Selesai</p>
                        </div>
                        <div class="col-md-8">
                            <p th:text="${peminjamanruangan.tanggal_mulai} +' - '+${peminjamanruangan.tanggal_selesai} "></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Tujuan</p>
                        </div>
                        <div class="col-md-8">
                            <p th:text="${peminjamanruangan.tujuan}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Keterangan</p>
                        </div>
                        <div class="col-md-8">
                            <p th:text="${peminjamanruangan.keterangan}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Jumlah Peserta</p>
                        </div>
                        <div class="col-md-8">
                            <p th:text="${peminjamanruangan.jumlah_peserta}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>